<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>tokenticker</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.tokenticker.oauth</string>
        </dict>
    </array>
    <key>NSUserNotificationsUsageDescription</key>
    <string>tokenTicker uses notifications to alert you about spend thresholds.</string>
</dict>
</plist>
